---
import Component from "../cards/Component.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { components } from "../../utils/data";

const colors = [
  "border-fuchsia-600 dark:border-fuchsia-400",
  "border-cyan-600 dark:border-cyan-400",
  "border-amber-600 dark:border-amber-400",
  "border-emerald-600 dark:border-emerald-400",
];
---

<section id="features">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Components</Title>
      <Paragraph className="mt-8">
        We are building a complete and comprehensive solution to help your teams
        ship smarter software.
      </Paragraph>
      <ul class="mt-8 space-y-1 text-heading-3 font-medium">
        {
          components.map(({ title, description }, ind) => {
            return (
              <Component
                title={title}
                description={description}
                extraClasses={colors[ind % colors.length]}
              />
            );
          })
        }
      </ul>
    </div>
  </Container>
</section>
