---
import Layout from "../layouts/Layout.astro";
import BlogEntry from "../components/cards/BlogEntry.astro";
import { getCollection, getEntry } from "astro:content";

const posts = await getCollection("blog");
const { Content, headings } = await posts[0].render();
---

<Layout title="Welcome to Uchen ML">
  <main
    class="gap-y-20 md:gap-y-32 overflow-hidden
    bg-slate-200 dark:bg-current pt-32 xl:px-56 lg:px-32 md:px-16 px-8"
  >
    <BlogEntry entry={posts[0]} />
  </main>
</Layout>
