---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Uchen ML - Pragmatic Machine Learning',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },
      { text: 'Blog', href: '/blog' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      This will be an <span class="text-accent highlight dark:text-orange-700">Uchen ML</span> landing page
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">Uchen ML</span> is almost ready to be revealed. For now, visit the blog page for some technical
      details.</Fragment
    >
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts title="Latest updates:" />
  <!-- information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `} -->
  <!-- /> -->
</Layout>
