---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import Components from '../components/sections/Components.astro';
---

<Layout title="Welcome to Uchen ML">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden bg-slate-200 dark:bg-current">
		<Hero/>
		<Services/>
		<Components/>
	</main>
</Layout>