---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogList from '~/components/blog/List.astro';
import { findLatestPosts } from '~/utils/blog';

const metadata = {
  title: 'Uchen ML - Pragmatic Machine Learning',
  ignoreTitleTemplate: true,
};

const posts = await findLatestPosts({ count: 10 });
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      // {
      //   variant: 'primary',
      //   text: 'Get template',
      //   href: 'https://github.com/onwidget/astrowind',
      //   target: '_blank',
      //   icon: 'tabler:download',
      // },
      // { text: 'Blog', href: '/blog' },
    ]}
  >
    <Fragment slot="title">
      Friendly solution for <span class="text-accent highlight dark:text-orange-600">client side</span> deep learning.
    </Fragment>

    <Fragment slot="subtitle">Build models that run everywhere</Fragment>

    <Fragment slot="content"
      >Follow me on <a href="https://twitter.com/eeuoss" class="text-accent hover:underline hover:font-semibold"
        >Twitter</a
      >
      or <a href="https://www.linkedin.com/in/eostroukhov/" class="text-accent hover:underline hover:font-semibold"
        >LinkedIn</a
      > for updates.
    </Fragment>
  </Hero>

  <div class="lg:mx-24 mx-8">
    <BlogList posts={posts} />
  </div>
</Layout>
