---
import Layout from "~/layouts/Layout.astro";

import type { MetaData } from "~/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <main class="flex flex-col overflow-hidden pt-24">
    <slot />
  </main>
</Layout>
